<h1>All Documents of Credochain</h1>>
{% if all_docs %}
    <ul>
    {% for doc in all_docs %}
        <li>{{doc}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Documents are available.</p>
{% endif %}

<br>
<br>
<form action="/textsearch/home/">
    <input type="submit" value="Go Home"/>
</form>