<h1>Submit Document to Credochain</h1>
<br>
<br>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit Document" />
</form>

<form action="/textsearch/home/">
    <input type="submit" value="Go Home"/>
</form>