<h1>Welcome to CredoChain Document Search Engine</h1>
<br>
<form action="/textsearch/all_docs">
    <input type="submit" value="See all Documents"/>
</form>
<br>
<form action="/textsearch/document">
    <input type="submit" value="Submit Documents"/>
</form>
<br>
<form action="/textsearch/search">
    <input type="submit" value="Search Documents"/>
</form>