<h1>Search Results</h1>
<br>
{% if result %}
    {{result}}
{% else %}
    <p>No Documents are available for your search.</p>
{% endif %}

<br>
<form action="/textsearch/home/">
    <input type="submit" value="Go Home"/>
</form>