<h1>Search Document in Credochain</h1>
<br>
<br>
<form action="" method="get">
    {{ form }}
    <input type="submit" value="Submit Document" />
</form>
<br>
<br>
<form action="/textsearch/home/">
    <input type="submit" value="Go Home"/>
</form>